/* Variables Comunes*/

:root {
  --title-font: "Rubik", sans-serif;
  --title-color-secondary: #099d8d;
  --text-font: "Open Sans", sans-serif;
  --text-size: 16px;
  --text-color: #54585a;
  --title-color-primary: #14d9c4;
}

body {
  font-family: var(--text-font);
}
/* @media all and (max-width: 768px) {
}
*/

/* header styles*/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0.95;
  z-index: 1;
}
.title {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--title-color-secondary);
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 30px;
  padding: 15px 0;
  color: white;
}
.header-nav {
  background-color: var(--title-color-primary);
  width: 100%;
  opacity: 0.9;
}
.header-menu {
  display: flex;
  justify-content: space-around;
  font-family: var(--title-font);
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 7px;
}
.header-menu-link {
  color: white;
  text-decoration: none;
}
.hero {
  background-image: url("https://placekitten.com/800/600");
  height: 421px;
  background-position: center top;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hero-title {
  background-color: white;
  font-family: var(--text-font);
  font-size: 18px;
  line-height: 25px;
  padding: 14px 15px 16px 15px;
  margin: 0 15px;
  position: relative;
  bottom: -10%;
}
.team {
  text-align: center;
}
.team-article {
  margin-top: 75px;
  font-family: var(--title-font);
}
.team-title {
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 15px;
  color: var(--title-color-primary);
}
.team .main-text {
  margin: 30px 30px 0px 30px;
}
/* flecha entre secciones*/
.arrow {
  width: 30px;
  height: 30px;
  background-color: white;
  transform: rotate(45deg) translate(10px, 10px);
  margin: 0 auto;
}
/* strenghts and weakness styles*/
.strenghts-and-weakness {
  background-color: rgb(184, 184, 185, 0.2);
  width: 100%;
  text-align: center;
  padding: 30px 15px 45px 15px;
}

.strenghts-and-weakness-title {
  font-family: var(--title-font);
  color: var(--title-color-secondary);
  font-size: 22px;
  line-height: 45px;
}

.main-text {
  font-family: var(--text-font);
  font-size: var(--text-size);
  color: var(--text-color);
  line-height: 24px;
}

/*about us styles*/

.about-us {
  width: 100%;
  text-align: center;
  padding: 30px 15px 30px 15px;
}

.about-us-title {
  font-family: var(--title-font);
  color: var(--title-color-secondary);
  font-size: 24px;
  line-height: 45px;
  text-transform: uppercase;
}

.member-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 5px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin: 30px 0 15px 0;
}

.member-name {
  font-family: var(--text-font);
  font-size: 20px;
  line-height: 45px;
  color: black;
}
