<section class="about-us">
	<h2 class="about-us-title">Quiénes somos</h2>
	<include
		src="./member.html"
		imgSrc="./assets/images/fotoinma.jpg"
		name="Inma Sánchez"
		bio=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cumque,
    ipsum aspernatur suscipit distinctio perferendis reprehenderit, quaerat
    eligendi pariatur earum corporis quasi recusandae perspiciatis repudiandae.
    Excepturi sapiente similique itaque ipsum."
		githubLink="https://github.com/iscasaban"
		linkedinLink="https://www.linkedin.com/in/iscasaban/"
		email="iscasaban@gmail.com"
	>
	</include>
	<include
		src="./member.html"
		imgSrc="./assets/images/fotomara.jpg"
		name="Mara Rocha"
		bio=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cumque,
  ipsum aspernatur suscipit distinctio perferendis reprehenderit, quaerat
  eligendi pariatur earum corporis quasi recusandae perspiciatis repudiandae.
  Excepturi sapiente similique itaque ipsum."
		githubLink="https://github.com/mararochafernandez"
		linkedinLink="https://www.linkedin.com/in/mara-rocha-fernandez/"
		email="mararochafernandez@gmail.com"
	>
	</include>
	<include
		src="./member.html"
		imgSrc="./assets/images/tania.jpg"
		name="Tania Gamero"
		bio=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cumque,
ipsum aspernatur suscipit distinctio perferendis reprehenderit, quaerat
eligendi pariatur earum corporis quasi recusandae perspiciatis repudiandae.
Excepturi sapiente similique itaque ipsum."
		githubLink="https://github.com/TaniaGamGonz"
		linkedinLink="https://www.linkedin.com/in/taniagamgonz/"
		email="tagago1994@gmail.com"
	>
	</include>
	<include
		src="./member.html"
		imgSrc="./assets/images/isa2.jpg"
		name="Isa Garabana"
		bio=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cumque,
ipsum aspernatur suscipit distinctio perferendis reprehenderit, quaerat
eligendi pariatur earum corporis quasi recusandae perspiciatis repudiandae.
Excepturi sapiente similique itaque ipsum."
		githubLink="https://github.com/IsaGarabana"
		linkedinLink="https://www.linkedin.com/in/isabelgarabana/"
		email="isinhagb@gmail.com"
	>
	</include>
</section>
