<section class="about-us">
  <!-- tag for email icon
    <i class="fab fa-linkedin-in"></i> -->

  <h2 class="about-us-title">Quiénes somos</h2>
  <article class="member">
    <img
      class="member-img"
      src="https://www.placecage.com/180/180"
      alt="Foto"
    />
    <h4 class="member-name">Inma Sánchez</h4>
    <p class="main-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cumque,
      ipsum aspernatur suscipit distinctio perferendis reprehenderit, quaerat
      eligendi pariatur earum corporis quasi recusandae perspiciatis
      repudiandae. Excepturi sapiente similique itaque ipsum.
    </p>
    <ul class="social-media">
      <li class="social-media-item">
        <a class="social-media-link" href="https://github.com/iscasaban"
          ><i class="fab fa-github-alt"></i
        ></a>
      </li>
      <li class="social-media-item">·</li>
      <li class="social-media-item">
        <a
          class="social-media-link"
          href="https://www.linkedin.com/in/iscasaban/"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="social-media-item">·</li>
      <li class="social-media-item">
        <a class="social-media-link" href="#">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
    </ul>
  </article>
  <article class="member">
    <img
      class="member-img"
      src="https://www.fillmurray.com/180/180"
      alt="Foto"
    />
    <h4 class="member-name">Mara Rocha</h4>
    <p class="main-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      possimus ipsa qui culpa consequatur debitis quae totam esse numquam vel
      eveniet velit dolore, assumenda exercitationem incidunt veritatis?
      Repellendus, nesciunt incidunt.
    </p>
    <ul class="social-media">
      <li class="social-media-item">
        <a
          class="social-media-link"
          href="https://github.com/mararochafernandez"
        >
          <i class="fab fa-github-alt"></i>
        </a>
      </li>
      <li class="social-media-item">·</li>
      <li class="social-media-item">
        <a
          class="social-media-link"
          href="https://www.linkedin.com/in/mara-rocha-fernandez/"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="social-media-item">·</li>
      <li class="social-media-item">
        <a class="social-media-link" href="#">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
    </ul>
  </article>
  <article class="member">
    <img class="member-img" src="./assets/images/Tania.jpg" alt="Foto" />
    <h4 class="member-name">Tania Gamero</h4>
    <p class="main-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sequi
      unde aliquid excepturi impedit veniam id ullam eveniet, reprehenderit
      sunt! Obcaecati illo nam cupiditate delectus similique mollitia,
      voluptates expedita dignissimos!
    </p>
    <ul class="social-media">
      <li class="social-media-item">
        <a class="social-media-link" href="https://github.com/TaniaGamGonz"
          ><i class="fab fa-github-alt"></i
        ></a>
      </li>
      <li class="social-media-item">·</li>
      <li class="social-media-item">
        <a
          class="social-media-link"
          href="https://www.linkedin.com/in/taniagamgonz"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="social-media-item">·</li>
      <li class="social-media-item">
        <a class="social-media-link" href="#">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
    </ul>
  </article>
  <article class="member">
    <img class="member-img" src="./assets/images/Isa2.jpg" alt="Foto" />
    <h4 class="member-name">Isa Garabana</h4>
    <p class="main-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo molestiae
      doloremque consectetur consequuntur asperiores ratione quidem aperiam
      mollitia quia quod eligendi, delectus officiis non aliquam, deserunt
      obcaecati eveniet expedita neque.
    </p>
    <ul class="social-media">
      <li class="social-media-item">
        <a class="social-media-link" href="https://github.com/IsaGarabana"
          ><i class="fab fa-github-alt"></i
        ></a>
      </li>
      <li class="social-media-item">·</li>
      <li class="social-media-item">
        <a
          class="social-media-link"
          href="https://www.linkedin.com/in/isabelgarabana/"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="social-media-item">·</li>
      <li class="social-media-item">
        <a class="social-media-link" href="#">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
    </ul>
  </article>
</section>
