<section class="about-us" id="about-us">
  <h2 class="about-us-title">Quiénes somos</h2>
  <include
    src="./member.html"
    imgSrc="./assets/images/fotoinma.jpg"
    name="Inma Sánchez"
    bio="Periodista y fotógrafa, pero en uno de los plot twist más deseados, ahora soy desarrolladora Front-End en proceso. Me apasiona aprender cosas nuevas, la música en directo y la fotografía. Mi experiencia en marketing digital hace que tenga una visión global de las necesidades del cliente para abordar cualquier proyecto."
    githubLink="https://github.com/iscasaban"
    linkedinLink="https://www.linkedin.com/in/iscasaban/"
    email="iscasaban@gmail.com"
  >
  </include>
  <include
    src="./member.html"
    imgSrc="./assets/images/fotomara.jpg"
    name="Mara Rocha"
    bio="Diseñadora y desarrolladora en aprendizaje continuo. Me interesan los procesos creativos de todo tipo y las distintas formas de ejecutar las ideas. Con un par de agujas y ovillos de lana diseño y tejo patrones de punto. De la misma forma, con herramientas y tecnologías web, trabajo para crear interfaces gráficas funcionales, compartiendo y colaborando en equipo."
    githubLink="https://github.com/mararochafernandez"
    linkedinLink="https://www.linkedin.com/in/mararochafernandez"
    email="mararochafernandez@gmail.com"
  >
  </include>
  <include
    src="./member.html"
    imgSrc="./assets/images/tania.jpg"
    name="Tania Gamero"
    bio="Ex-pastelera y aprendiz de programadora.
		Entusiasta con muchas ganas de aprender.
		En mi tiempo libre ejerzo de guerrera en la Grieta del Invocador y decoradora de interior/exterior en Animal Crossing."
    githubLink="https://github.com/TaniaGamGonz"
    linkedinLink="https://www.linkedin.com/in/taniagamgonz/"
    email="tagago1994@gmail.com"
  >
  </include>
  <include
    src="./member.html"
    imgSrc="./assets/images/isa2.jpg"
    name="Isa Garabana"
    bio="Publicitaria en proceso de conversión a programadora web, con años de experiencia a mis espaldas trabajando en equipos multidisciplinares e internacionales.  Observadora, metódica y detallista. Entusiasta, proactiva y con orientación al problem-solving. Tengo una habilidad natural para establecer relaciones positivas y tratar de ver la parte buena de la vida."
    githubLink="https://github.com/IsaGarabana"
    linkedinLink="https://www.linkedin.com/in/isabelgarabana/"
    email="isinhagb@gmail.com"
  >
  </include>
</section>
