<section class="hero-contact">
	<!-- imagen de fondo en CSS-->
</section>

<section class="contact">
	<div class="contact__wrapper">
		<article class="contact__article">
			<h2 class="contact__article--title">Contacto</h2>
			<p class="main-text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, explicabo. Unde tenetur velit ipsa error
				id voluptate veniam dicta excepturi amet aut soluta fugiat voluptatibus voluptas, commodi quasi
				reprehenderit blanditiis!
			</p>
			<small>
				Todos los campos marcados con <span class="asterisk">*</span> son
				obligatorios</small>
		</article>
	</div>
</section>

<form action="https://formspree.io/f/moqygnrq" method="POST">
	<!-- your other form fields go here -->
	<button type="submit">enviar</button>
</form>