<div class="hero-contact">
	<!-- imagen de fondo en CSS-->
</div>

<section>
	<h2>contacto</h2>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dicta
		provident sapiente iusto soluta sed debitis sunt cumque consequuntur fugit
		voluptatum tempore modi, beatae eius aut quidem esse qui numquam?
	</p>
	<small>
		Todos los campos marcados con <span class="asterisk">*</span> son
		obligatorios</small
	>
</section>

<form action="https://formspree.io/f/moqygnrq" method="POST">
	<!-- your other form fields go here -->
	<button type="submit">enviar</button>
</form>
