<footer class="footer">
	<section class="footer__copy">
		<p class="copy__text">3R Team &copy 2021</p>
	</section>

	<nav class="footer__nav">
		<ul class="footer__menu">
			<li class="menu__item">
				<a class="menu__link" href="./#team">Equipo</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="./#about-us">Quiénes somos</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="./contact.html" target="_blank">Contacto</a>
			</li>
		</ul>
	</nav>

	<section class="footer__container">
		<a href="https://adalab.es/" title="Visita Adalab" target="_blank">
			<img class="footer__logo" src="./assets/images/logo-adalab.png" alt="Logo Adalab" title="Conoce Adalab">
			</img>
		</a>
	</section>
</footer>