<footer class="footer">
	<section class="footer__copy">
		<p class="copy__text">Las 3R &copy 2021</p>
	</section>

	<nav class="footer__nav">
		<ul class="footer__menu">
			<li class="menu__item">
				<a class="menu__link" href="#">Equipo</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">Quiénes somos</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">Contacto</a>
			</li>
		</ul>
	</nav>

	<section class="footer__container">
		<img
			class="footer__logo"
			src="./assets/images/logo-adalab.png"
			alt="Logo Adalab"
		/>
	</section>
</footer>
