<header class="header">
  <div class="header__wrapper">
    <h1 class="header__title">Nombre del grupo</h1>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu--item">
          <a class="header__menu--link" href="#">Equipo</a>
        </li>
        <li class="header__menu--item">
          <a class="header__menu--link" href="#">Quiénes somos</a>
        </li>
        <li class="header__menu--item">
          <a class="header__menu--link" href="#">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>