<header class="header">
    <div class="header__wrapper">
        <h1 class="header__title">
            <a class="header__title--link" href="./">Nombre del grupo</a>
        </h1>
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__menu--item">
                    <a class="header__menu--link" href="./#team">Equipo</a>
                </li>
                <li class="header__menu--item">
                    <a class="header__menu--link" href="./#about-us">Quiénes somos</a>
                </li>
                <li class="header__menu--item">
                    <a class="header__menu--link" href="./contact.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>