<header class="header">
  <div class="header__wrapper">
    <h1 class="header__title">
      <a class="header__title--link" href="./"
        ><div class="RRR">3R</div>
        Team</a
      >
    </h1>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu--item">
          <a class="header__menu--link" href="./#team" title="Equipo">Equipo</a>
        </li>
        <li class="header__menu--item">
          <a class="header__menu--link" href="./#about-us" title="Quiénes somos"
            >Quiénes somos</a
          >
        </li>
        <li class="header__menu--item">
          <a class="header__menu--link" href="./contact.html" title="Contacto"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
