<article class="member">
	<img class="member-img" src="@@imgSrc" alt="picture of @@name" title="@@name picture" />
	<div class="container--text">
		<h4 class="member-name">@@name</h4>
		<p class="main-text">@@bio</p>
		<ul class="social-media">
			<li class="social-media-item">
				<a class="social-media-link" href="@@githubLink" title="Ir al perfil de Github de @@name"><i
						class="fab fa-github-alt"></i></a>
			</li>
			<li class="social-media-item">·</li>
			<li class="social-media-item">
				<a class="social-media-link" href="@@linkedinLink" title="Ir al perfil de LinkedIn de @@name">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</li>
			<li class="social-media-item">·</li>
			<li class="social-media-item">
				<a title="Enviar un email a @@name" class="social-media-link" href="mailto:@@email">
					<i class="fas fa-envelope"></i>
				</a>
			</li>
		</ul>
	</div>
</article>