<article class="member">
  <img
    class="member-img"
    src="@@imgSrc"
    alt="picture of @@name"
    title="@@name picture"
  />
  <h4 class="member-name">@@name</h4>
  <p class="main-text">@@bio</p>
  <ul class="social-media">
    <li class="social-media-item">
      <a
        class="social-media-link"
        href="@@githubLink"
        title="Go to @@name's Github profile"
        ><i class="fab fa-github-alt"></i
      ></a>
    </li>
    <li class="social-media-item">·</li>
    <li class="social-media-item">
      <a
        class="social-media-link"
        href="@@linkedinLink"
        title="Go to @@name's LinkedIn profile"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li class="social-media-item">·</li>
    <li class="social-media-item">
      <a
        title="send an email to @@name"
        class="social-media-link"
        href="mailto:@@email"
      >
        <i class="fas fa-envelope"></i>
      </a>
    </li>
  </ul>
</article>
