<section class="team">
  <div class="team__wrapper">
  <article class="team__article">
    <h2 class="team__article--title">Equipo</h2>
    <p class="main-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, explicabo.
      Unde tenetur velit ipsa error id voluptate veniam dicta excepturi amet aut
      soluta fugiat voluptatibus voluptas, commodi quasi reprehenderit
      blanditiis!
    </p>
    <p class="main-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ipsum
      eaque eius consequatur nobis eligendi itaque ipsam recusandae fugit rerum
      sunt deserunt beatae obcaecati asperiores veritatis, voluptatibus deleniti
      quisquam. Minima!
    </p>
  </article>
</div>
</section>
<div class="arrow"></div>
<section class="swot">
  <div class="swot__wrapper">
  <article class="swot__article strengths">
    <h3 class="swot__article--title">Fortalezas</h3>
    <p class="main-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      quibusdam dolor dignissimos laborum, voluptate deserunt nulla fugit earum.
      Totam odit recusandae impedit reiciendis culpa quam nulla! Dicta sunt
      delectus nostrum?
    </p>
  </article>
  <article class="swot__article weakness">
    <h3 class="swot__article--title">Debilidades</h3>
    <p class="main-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia expedita
      ipsum facilis quos porro consequatur, repellendus ad, eligendi voluptate,
      eum quam labore consectetur dignissimos iusto cupiditate quibusdam
      possimus harum odio?
    </p>
  </article>
  </div>
</section>