$title-font: "Rubik",
sans-serif;
$title-color-secondary: #099d8d;
$text-font: "Open Sans",
sans-serif;
$text-size: 16px;
$text-color: #54585a;
$title-color-primary: #14d9c4;
$main-background-color: #f1f1f1;