.hero-contact {
  background: url("../images/hero-contact.jpg") center right;
  background-size: cover;
  height: 300px;
  @include desktop {
    height: 400px;
  }
}

.contact {
  text-align: center;
  &__wrapper {
    @include tablet {
      width: 442px;
      margin: 0 auto;
    }
    @include desktop {
      width: 601px;
      margin: 0 auto;
    }
  }
  &__article {
    margin-top: 30px;
    @include tablet {
      margin-top: 45px;
    }
    &--title {
      text-transform: uppercase;
      font-family: $title-font;
      font-size: 24px;
      line-height: 45px;
      color: $title-color-primary;
      @include tablet {
        color: $title-color-secondary;
      }
    }
  }
}

.small {
  display: block;
  font-size: 12px;
  margin-top: 30px;
  font-family: $text-font;
}

.asterisk {
  color: $title-color-primary;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 60px 15px;
  @include tablet {
    width: 442px;
    margin: 60px auto;
  }
  @include desktop {
    width: 601px;
    margin: 60px auto 120px auto;
  }
  &__label {
    display: block;
    font-size: 14px;
    margin-bottom: 7px;
  }
  &__input {
    width: 100%;
    transition: border-left 2s;
  }
  &__fieldset {
    @include desktop {
      display: grid;
      grid-template-columns: 395px 162px;
      grid-template-rows: auto auto;
      column-gap: 44px;
      .form__label {
        grid-row: 1;
      }
    }
  }
  &__input,
  &__textarea {
    margin-bottom: 15px;
    border: 1px solid #b8b8b9;
    padding: 10px;
    background-color: transparent;
    outline: none;

    &:focus {
      border-color: $title-color-primary;
    }
  }
  &__input,
  &__textarea,
  &__submit {
    font-size: $text-size;
    font-family: $text-font;
  }
  &__submit {
    background-color: $title-color-secondary;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: $title-color-primary;
    }
    @include tablet {
      width: 206px;
      height: 45px;
      align-self: flex-end;
    }
    @include desktop {
      width: 278px;
    }
  }
}
