.footer {
	height: 250px;
	border-top: solid #b8b8b9 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 30px 45px;

	@media (min-width: 768px) {
		height: 170px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: "copy menu" "logo menu";
	}

	&-nav {
		@media (min-width: 768px) {
			grid-area: menu;
			justify-self: right;
			text-align: right;
		}
	}
	&-container {
		@media (min-width: 768px) {
			grid-area: logo;
		}
	}

	&-logo {
		height: 45px;
	}

	&-menu {
		text-align: center;
		@media (min-width: 768px) {
			text-align: right;
		}

		&-link {
			color: $text-color;
			text-decoration: none;
			line-height: 20px;
			font-size: 14px;
			text-transform: uppercase;
			font-family: "Open Sans", sans-serif;
			font-weight: 600;
		}
	}
}

.copyright {
	@media (min-width: 768px) {
		grid-area: copy;
		justify-self: left;
	}
}

.copyright-text {
	font: $text-font;
	color: #b8b8b9;
	font-size: 14px;
	line-height: 20px;
}
