.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  @include desktop {
    background-color: $title-color-secondary;
    opacity: 0.9;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      width: 924px;
      margin: 0 auto;
    }
  }
  &__title {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    background-color: $title-color-secondary;
    font-family: $title-font;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 0;
    color: white;
    opacity: 0.9;
    @include tablet {
      text-align: left;
      padding-left: 45px;
    }
    @include desktop {
      background: none;
      padding-left: 0px;
    }
    &--link {
      text-decoration: none;
      color: white;
      .RRR {
        display: inline-block;
        animation-name: spin;
        animation-iteration-count: 1;
        animation-duration: 2s;
        animation-delay: 2s;
      }
    }
  }
  &__nav {
    background-color: $title-color-primary;
    width: 100%;
    opacity: 0.9;
    @include tablet {
      background-color: $title-color-secondary;
      padding-top: 7px;
      padding-bottom: 8px;
    }
    @include desktop {
      background: none;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    font-family: $title-font;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 7px;
    @include tablet {
      justify-content: flex-end;
      padding-right: 40px;
    }
    @include desktop {
      padding-right: 0px;
    }
    &--link {
      color: white;
      text-decoration: none;
      padding: 5px;
      border: solid 1px transparent;
      transition: border-color 0.5s;
      @include tablet {
        margin-left: 8px;
      }
    }
    &--link:hover {
      border-bottom-color: white;
    }
  }
}
