body {
  font-family: $text-font;
}
.main,
.footer {
  background-color: $main-background-color;
}

//Text styles
.main-text {
  font-family: $text-font;
  font-size: $text-size;
  color: $text-color;
  line-height: 24px;
}
