/* team styles */

.team {
    text-align: center;
    &__wrapper {
        @media all and (min-width: 768px) {
            margin: 0 45px;
        }
        @media all and (min-width: 1200px) {
            width: 601px;
            margin: 0 auto;
        }
    }
    &__article {
        margin-top: 76px;
        @media all and (min-width: 768px) {
            margin-top: 45px;
        }
        &--title {
            text-transform: uppercase;
            font-family: $title-font;
            font-size: 24px;
            line-height: 45px;
            color: $title-color-primary;
            @media all and (min-width: 768px) {
                color: $title-color-secondary;
            }
        }
    }
}

.team .main-text {
    margin: 15px 30px 0 30px;
    @media all and (min-width: 768px) {
        margin: 15px 0 30px 0;
    }
}


/* arrow styles */

.arrow {
    width: 30px;
    height: 30px;
    background-color: $main-background-color;
    transform: rotate(45deg) translate(10px, 10px);
    margin: 0 auto;
}


/* strengths and weakness styles */

.swot {
    background-color: rgba(184, 184, 185, 0.2);
    width: 100%;
    text-align: center;
    padding: 30px 15px 45px 15px;
    &__wrapper {
        @media all and (min-width: 768px) {
            padding-right: 30px;
            padding-left: 30px;
            display: flex;
            flex-direction: row;
        }
        @media all and (min-width: 1200px) {
            padding-right: 0;
            padding-left: 0;
            width: 924px;
            margin: 0 auto;
        }
    }
    &__article {
        padding: 0 15px;
        @media all and (min-width: 768px) {
            padding-bottom: 15px;
        }
        &--title {
            font-family: $title-font;
            color: $title-color-secondary;
            font-size: 22px;
            line-height: 45px;
            @media all and (min-width: 768px) {
                margin: 15px 0;
            }
        }
    }
}

.strengths {
    @media all and (min-width: 768px) {
        padding-left: 0;
    }
    @media all and (min-width: 1200px) {
        padding-right: 23px;
    }
}

.weakness {
    margin-top: 30px;
    @media all and (min-width: 768px) {
        margin-top: 0;
        padding-right: 0;
    }
    @media all and (min-width: 1200px) {
        padding-left: 23px;
    }
}