/* team styles */

.team {
  text-align: center;
  scroll-margin-top: 130px;
  @include tablet {
    scroll-margin-top: 85px;
  }
  &__wrapper {
    @include tablet {
      margin: 0 45px;
    }
    @include desktop {
      width: 601px;
      margin: 0 auto;
    }
  }
  &__article {
    margin-top: 76px;
    @include tablet {
      margin-top: 45px;
    }
    &--title {
      text-transform: uppercase;
      font-family: $title-font;
      font-size: 24px;
      line-height: 45px;
      color: $title-color-primary;
      @include tablet {
        color: $title-color-secondary;
      }
    }
  }
}

/* arrow styles */

.arrow {
  width: 30px;
  height: 30px;
  background-color: $main-background-color;
  transform: rotate(45deg) translate(10px, 10px);
  margin: 0 auto;
}

/* strengths and weakness styles */

.swot {
  background-color: rgba(184, 184, 185, 0.2);
  width: 100%;
  text-align: center;
  padding: 30px 15px 45px 15px;
  &__wrapper {
    @include tablet {
      padding-right: 30px;
      padding-left: 30px;
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      padding-right: 0;
      padding-left: 0;
      width: 924px;
      margin: 0 auto;
    }
  }
  &__article {
    padding: 0 15px;
    @include tablet {
      padding-bottom: 15px;
    }
    &--title {
      font-family: $title-font;
      color: $title-color-secondary;
      font-size: 22px;
      line-height: 45px;
      @include tablet {
        margin: 15px 0;
      }
    }
  }
}

.strengths {
  @include tablet {
    padding-left: 0;
  }
  @include desktop {
    padding-right: 23px;
  }
}

.weakness {
  margin-top: 30px;
  @include tablet {
    margin-top: 0;
    padding-right: 0;
  }
  @include desktop {
    padding-left: 23px;
  }
}
